.contact-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg-contact.jpg') center center;
  background-size: cover;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 41vh auto 0px auto;
  max-width: 720px;
}

.contact-header {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa {
  color: #efecec;
  text-decoration: none;
  font-size: 24px;
  margin-right: 30px;
  padding: 24px;
  background-color: #363434;
  border-radius: 45px;
  transition: all 0.2s ease-out;
}

.fa:hover {
  color: #363434;
  background-color: #efecec;
}