.contact-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg-contact.jpg') center center;
  background-size: cover;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 41vh auto 0px auto;
  max-width: 720px;
}

.contact-header {
  align-self: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  -webkit-transition: all .3s step-end;
  -moz-transition: all .3s step-end;
  -o-transition: all .3s step-end;
  transition: all .3s step-end;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  margin: 0rem 1rem;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
}

.icon i {
  color: #efecec;
  text-decoration: none;
  font-size: 24px;
  padding: 24px;
  background-color: #363434;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.icon i:hover {
  color: #363434;
  background-color: #efecec;
}

@media (max-width: 640px) {
  .contact-header {
    font-size: .8rem
  }

  .icon {
    margin: 0rem .5rem
  }

  .icon i {
    font-size: 20px;
    padding: 20px;
  }
}