.index-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg-index.jpg') center center;
  background-size: cover;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 42vh auto 0px auto;
  max-width: 720px;
}

.main-header {
  align-self: center;
  font-size: 4rem;
  font-weight: 600;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

span {
  color: #62929a;
}

.sub-header {
  align-self: center;
  font-size: 2.5rem;
  font-weight: 400;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

@media (max-width: 640px) {
  .main-header {
    font-size: 1.9rem;
  }

  .sub-header {
    font-size: 1.25rem;
  }
}