.projects-section {
  display: flex;
  flex-direction: column;
  background-color: #5c5757;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg-projects.jpg') center center;
  background-size: cover;
}

.projects-container {
  margin: 84px auto 36px auto;
  max-width: 300px;
}

.projects-card {
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-top: 6px solid #62929a;
  background-color: #363434;
  margin-bottom: 48px;
}

.card-img {
  max-height: 300px;
  max-width: 300px;
}

.card-body {
  margin: 12px 12px 24px 12px;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
  word-wrap: break-word;   
  overflow-wrap: break-word;
  word-break: break-word;
}

.btn-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 12%, 95%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-btn {
  align-self: flex-end;
  padding: 12px 12px;
  margin: 12px 12px;
  border-radius: 5px;
  font-size: 1rem;
  color: #efecec;
  background-color: #62929a;
  border: none;
  text-decoration: none;
}

@media (min-width: 900px) {
  .projects-section {
    height: 100vh;
    overflow: hidden;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30vh auto 0vh auto;
  }

  .projects-card {
    margin-left: 24px;
    margin-right: 24px; 
  }
}