.projects-section {
  display: flex;
  flex-direction: column;
  background-color: #5c5757;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg-projects.jpg') center center;
  background-size: cover;
}

.projects-header {
  font-size: .95rem;
  font-weight: 600;
  text-align: center;
  margin: 84px 6px 0px 6px;
}

.projects-container {
  margin: 36px auto 0px auto;
}

.projects-card {
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-top: 6px solid #62929a;
  background-color: #363434;
  margin-bottom: 48px;
  max-width: 300px;
}

.card-img {
  width: 300px;
}

.card-body {
  margin: 12px 12px 24px 12px;
}

.card-title {
  text-decoration: none;
  color: #62929a;
  transition: all 0.2s ease-out;
}

.card-title:hover {
  color: #efecec;
}

.card-title h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.card-text {
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;   
  overflow-wrap: break-word;
  word-break: break-word;
}

.btn-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 12%, 95%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 76px;
}

.card-btn {
  align-self: flex-end;
  padding: 12px 12px;
  margin: 12px 12px;
  border-radius: 5px;
  font-size: 1rem;
  color: #efecec;
  background-color: #62929a;
  border: none;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.card-btn:hover {
  color: #62929a;
  padding: 11px;
  background-color: hsl(220, 12%, 95%);
  border: 1px solid #62929a;
}

.card-btn i {
  font-size: 24px;
} 

@media (min-width: 1000px) {
  .projects-section {
    height: 100vh;
    overflow: hidden;
  }

  .projects-header {
    font-size: 2rem;
    font-weight: 600;
    margin: 22vh auto 0vh auto;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .projects-card {
    margin-left: 18px;
    margin-right: 18px; 
  }
}